body {
    background-image: url("../images/backgrounds/sky-bg.png");
    background-repeat: repeat;
}

.house-section img {
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
}

/*TODO вынести цвета в переменные*/
.about-section {
    background-image: url("../images/backgrounds/test-bg.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: #E5E5D6;
    padding: 0 3.5vw 9vh;
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    min-height: 150vh;
}

.house {
    z-index: 200;
    width: 100vw;
    position: absolute;
    transform: translate(0, -14vh);
    overflow-x: hidden;
}

.house-left {
    top: 0;
    left: 0;
    position: relative;
    width: 50vw;
    transition: transform 0.1s ease-out;
    will-change: transform;
}

.house-right {
    top: 0;
    right: 0;
    position: relative;
    transition: transform 0.1s ease-out;
    will-change: transform;
    width: 50vw;
}

#gallery {
    position: absolute;
    height: 60vh;
    overflow-x: hidden;
    padding-left: 5vw;
}

#gallery img {
    height: 100%;
}

.girl-image {
    position: relative;
    padding-top: 30vh;
    box-sizing: content-box;
    max-width: 100vw;
    z-index: 100;
}


