body {
    width: 100vw;
    background-image: url("../images/backgrounds/bg-2.png");
    background-size: cover;
    color: #E5E5D6
}

.nav-link, .navbar-brand {
    color: #E5E5D6 !important;
}

#from-history {
    padding-top: 45vh;
    color: #261A16;
}

.alex1 {
    position: relative;
}

.alex1 p {
    position: relative;
    top: 22vh;
    width: 32vw;
    margin-left: -15%;
}

.alex1 img {
    height: auto;
    min-width: 50vw;
    max-width: 70vw;
}

.alex2 {
    position: relative;
    width: 100vw;
    padding-right: 5vw;
}

.alex2 .text {
    margin-right: -2%;
    position: relative;
    top: 10vh;
    width: 35vw;
}

.alex2 p {
    position: relative;
    top: 22vh;
    padding-bottom: 1vh;
}

.alex2 img {
    height: auto;
    min-width: 30vw;
    max-width: 60vw;
}

#new-uniforms {
    color: #3F352E;
}

#new-uniforms .text {
    padding-top: 10vh;
    width: 35vw;
}


#monument {
    position: relative;
    background-image: url("../images/backgrounds/doska.png");
    background-size: cover;
}

#monument h3 {
    padding-top: 30vh;
}

.about-monument {
    padding: 15vh 0;
}

.background-white {
    width: 100vw;
    position: absolute;
    bottom: 0;
    z-index: -10;
}


.soldatiki {
    max-width: 30vw;
    z-index: 100;
}

.soldati-container {
    position: relative;
    bottom: -14vh;
}

.infographic-labels {
    position: relative;
    width: 45vw;
    top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    z-index: 110;
    margin-left: 4vw;
}

.info-row {
    color: #261A16;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.info-row .lighter{
    color: #61534E;
}

.pointer-assets {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 15px;
    margin-top: 6px;
}

.info-dot {
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    z-index: 2;
}

.info-line {
    position: absolute;
    right: 26px;
    object-position: right center;
    object-fit: contain;
    pointer-events: none;
}

.info-text {
    max-width: 30vw;
}

.row-hat .info-line {
    bottom: -13vh;
}

.row-jacket .info-line {
    bottom: -9vh;
}

.row-pants .info-line {
    bottom: -5vh;
}